.profile__avatar-image {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  margin-right: 0;
  background-image: url("../../../images/Jaques_Cousteau.jpg");
  background-size: 130px 130px;
}

.profile__avatar-image:hover {
  background-image: url("../../../images/vector_profile.png");
  background-repeat: no-repeat;
  background-size: 26px 26px;
  border-radius: 0;
  margin-top: 55px;
  margin-left: 50px;
  opacity: 0.5;
}