.element__group {
  max-width: 282px;
  height: 79px;
  background: #FFFFFF;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.element__count {
  width: 9px;
  height: 13px;
  margin-right: -255px;
  margin-top: 50px;
}